body {
	background-image: url("images/Homepage.png");
}
h1 {
	text-align: center; /* Centers the title */
	margin-top: 20px;   /* Moves it slightly down from the top */
	font-family: Arial, sans-serif;
}
.buttons {
	display: flex;
	flex-direction: column;
	align-items: center; 
	margin-top: 300px; 
}
a {
  transition: all 0.5s ease-in-out;
}
a:hover {
  transform: scale(1.5);
}