@font-face {
  font-family: "Story Script";
  src: url("../fonts/StoryScript/StoryScript-Regular.ttf")
}
@font-face {
  font-family: "Delius";
  src: url("../fonts/Delius/Delius-Regular.ttf")
}

body { 
    padding: 40px;
    font-family: "Delius", sans-serif;
    font-size: 18px;
}

h1 {
    font-family: "Story Script", serif;
    font-size: 50px;
    font-weight: 700;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content img {
    object-fit: cover;
}

/* Light Mode */
body.light {
    color: #000000;
    background-image: url(../images/bg.png);
    background-color: #75aae7;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

/* Dark Mode */
body.dark {
    color: #ffffff;
    background-image: url(../images/bg.png);
    background-color: #3f5499;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

body.light.achievements2 {
    background-image: url(../images/bg2.png) !important;
}

body.dark.achievements2 {
    background-image: url(../images/bg2.png) !important;
    background-color: #060b1d;
}

body.light.journal {
    background-image: url(../images/Blue.png) !important;
}

body.dark.journal {
    background-image: url(../images/Blue.png) !important;
    background-color: #060b1d;
}

/* Toggle Button */
.toggle-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 50%;
    transition: 0.3s;
}

.bottom-center {
  position: fixed;
  bottom: 20px;       /* distance from bottom */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.bottom-center a {
  margin: 0 15px;     /* space between links */
  text-decoration: none;
  font-size: 20px;
  color: blue;
}

.carousel {
        width: 400px;
        height: 400px;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
    }

    .slides {
        display: flex;
        width: 100%;
        height: 100%;
        transition: 0.5s;
    }

    .slides img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Buttons */
    .btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0,0,0,0.5);
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }

    .prev { left: 5px; }
    .next { right: 5px; }

.scale-in-ver-bottom {
	-webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}